html {
    image-rendering: pixelated;
    --highlight-color: #88BABA;
    --font-color: #3F88C8;
    --dark-color: #512929;
    --med-color: #D38433;
    --light-color: #E6C25D;
    font-family: "Monaco", "Lucida Console", monospace;
}

body {
    background-color: black;
    background-image: url("../assets/box_tile.png");
}

.LHpopup {
    background-image: url("../assets/box_panel_shred_l.png"), url("../assets/box_panel.png");
    background-position: left top, center top;
    background-repeat: repeat-y, no-repeat;
    background-size: 30vw, cover;
    border-radius: 15px;
    min-width: 60vw;
    min-height: 60vh;
    padding: 5vh 5vw;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: solid var(--dark-color) 1vh;
    filter: drop-shadow(var(--dark-color) 0px 0px 10px);
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.RHpopup {
    background-image: url("../assets/box_panel_shred_r.png"), url("../assets/box_panel.png");
    background-position: right top, center top;
    background-repeat: repeat-y, no-repeat;
    background-size: 30vw, cover;
    border-radius: 15px;
    min-width: 60vw;
    min-height: 60vh;
    padding: 5vh 5vw;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: solid var(--dark-color) 1vh;
    filter: drop-shadow(var(--dark-color) 0px 0px 10px);
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
}

.popupHeader {
    color: var(--font-color);
    fill: var(--font-color);
    -webkit-text-stroke: var(--dark-color) 1vh;
    stroke-linejoin: round;
    paint-order: stroke fill;
    font-size: clamp(2rem, 10vw, 5rem);
    font-weight: bold;
    padding-bottom: 5vh;
}

.popupSubheader {
    color: var(--highlight-color);
    -webkit-text-stroke: var(--dark-color) 1vh;
    stroke-linejoin: round;
    paint-order: stroke fill;
    font-size: clamp(1rem, 5vw, 2.5rem);
    font-weight: bold;
    padding-bottom: 2vh;
}

.popupError {
    color: red;
    -webkit-text-stroke: var(--dark-color) 1vh;
    stroke-linejoin: round;
    paint-order: stroke fill;
    font-size: clamp(1rem, 5vw, 2.5rem);
    font-weight: bold;
    padding-bottom: 2vh;
    opacity: 1;
    -webkit-transition: opacity 1000ms linear;
    transition: opacity 1000ms linear;
}

.entryGroup {
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: fit-content;
}

.sideBySide {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    flex-wrap: nowrap;
    height: fit-content;
}

.textInput {
    background-color: var(--light-color);
    border: solid var(--med-color) 1vh;
    filter: drop-shadow(var(--dark-color) 0px 0px 10px);
    border-radius: 5px;
    margin: 2vh auto;
    padding: 1vh 1vw;
    color: var(--font-color);
    -webkit-text-stroke: var(--dark-color) 1vh;
    stroke-linejoin: round;
    paint-order: stroke fill;
    font-size: 5vh;
    width: clamp(8rem, 30vw, 16rem);
    font-weight: bold;
    text-align: center;
}

.textInput::placeholder {
    color: var(--med-color);
    -webkit-text-stroke: var(--dark-color) 0px;
    stroke-linejoin: round;
    font-size: 2vh;
    opacity: 0.5;
}

button {
    background-color: var(--highlight-color);
    border: solid var(--font-color) 1vh;
    filter: drop-shadow(var(--dark-color) 0px 0px 10px);
    border-radius: 5px;
    margin: 1vh auto;
    padding: 1vh 1vw;
    color: var(--dark-color);
    font-size: 3vh;
    font-weight: bold;
    text-align: center;
    display: flex;
    justify-content: center;
}

button:hover {
    background-color: var(--font-color);
    border: solid var(--highlight-color) 1vh;
    color: var(--light-color);
    cursor: pointer;
}

.paintArea {
    background-color: var(--med-color);
    margin: 1vw;
    border-radius: 15px;
    border: solid var(--dark-color) 1vh;
    flex: 1 0 30vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 1vw;
}

canvas {
    background-color: var(--light-color);
    margin-bottom: 1vw;
    border-radius: 15px;
    border: solid var(--dark-color) 1vh;
    flex: 1 0 25vw;
    aspect-ratio: 1 / 1;
}

.clr{
    height: 30px;
    width: 30px;
    background-color: var(--light-color);
    border-radius: 50%;
    border: 1vh solid var(--dark-color);
    transition: transform .25s;
}
.clr:hover{
    transform: scale(1.2);
}
.clr:nth-child(1){
    background-color: #000000;
}
.clr:nth-child(2){
    background-color: #FF0000;
}
.clr:nth-child(3){
    background-color: #FF8800;
}
.clr:nth-child(4){
    background-color: #FFFF00;
}
.clr:nth-child(5){
    background-color: #00FF00;
}
.clr:nth-child(6){
    background-color: #0000FF;
}
.clr:nth-child(7){
    background-color: #8800FF;
}
.clr:nth-child(8){
    background-color: #FFFFFF;
}
.clr:nth-child(9){
    background-color: #E6C25D;
}

.rangeSlider {
    -webkit-appearance: none;
    margin: 1vh;
    width: 80%;
    height: 15px;
    border-radius: 5px;  
    background: var(--light-color);
    outline: none;
    -webkit-transition: .2s;
    transition: opacity .2s;
  }
  
  .rangeSlider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%; 
    background: var(--med-color);
    border: 1vh solid var(--dark-color);
    cursor: pointer;
  }
  
  .rangeSlider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: var(--med-color);
    border: 1vh solid var(--dark-color);
    cursor: pointer;
  }

@media screen and (max-width:990px) {
    .LHpopup {
        min-width: 80vw;
        min-height: 80vh;
    }
    .RHpopup {
        min-width: 80vw;
        min-height: 80vh;
    }
    .sideBySide {
        flex-wrap: wrap;
        justify-content: space-evenly;
        flex-grow: 1;
    }
    .paintArea {
        margin: 0;
    }
}