html {
    image-rendering: pixelated;
    --highlight-color: #88BABA;
    --font-color: #3F88C8;
    --dark-color: #512929;
    --med-color: #D38433;
    --light-color: #E6C25D;
    font-family: "Monaco", "Lucida Console", monospace;
}

body {
    background-color: black;
    background-image: url("../assets/box_tile.png");
}

.LHpopup {
    background-image: url("../assets/box_panel_shred_l.png"), url("../assets/box_panel.png");
    background-position: left top, center top;
    background-repeat: repeat-y, no-repeat;
    background-size: 30vw, cover;
    border-radius: 15px;
    padding: 5vh 5vw;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: solid var(--dark-color) 1vh;
    filter: drop-shadow(var(--dark-color) 0px 0px 10px);
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.RHpopup {
    background-image: url("../assets/box_panel_shred_r.png"), url("../assets/box_panel.png");
    background-position: right top, center top;
    background-repeat: repeat-y, no-repeat;
    background-size: 30vw, cover;
    border-radius: 15px;
    padding: 5vh 5vw;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: solid var(--dark-color) 1vh;
    filter: drop-shadow(var(--dark-color) 0px 0px 10px);
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
}

.popupHeader {
    color: var(--font-color);
    -webkit-text-stroke: var(--dark-color) 1vh;
    paint-order: stroke fill;
    font-size: clamp(2rem, 10vw, 5rem);
    font-weight: bold;
    padding-bottom: 5vh;
}

.popupSubheader {
    color: var(--highlight-color);
    -webkit-text-stroke: var(--dark-color) 1vh;
    paint-order: stroke fill;
    font-size: clamp(1rem, 5vw, 2.5rem);
    font-weight: bold;
    padding-bottom: 2vh;
}

.popupError {
    color: red;
    -webkit-text-stroke: var(--dark-color) 1vh;
    paint-order: stroke fill;
    font-size: clamp(1rem, 5vw, 2.5rem);
    font-weight: bold;
    padding-bottom: 2vh;
    opacity: 1;
    -webkit-transition: opacity 1000ms linear;
    transition: opacity 1000ms linear;
}

.entryGroup {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: fit-content;
}

input {
    background-color: var(--light-color);
    border: solid var(--med-color) 1vh;
    filter: drop-shadow(var(--dark-color) 0px 0px 10px);
    border-radius: 5px;
    margin: 2vh auto;
    padding: 1vh 1vw;
    color: var(--font-color);
    -webkit-text-stroke: var(--dark-color) 1vh;
    paint-order: stroke fill;
    font-size: 5vh;
    width: clamp(8rem, 30vw, 16rem);
    font-weight: bold;
    text-align: center;
}

input::placeholder {
    color: var(--med-color);
    -webkit-text-stroke: var(--dark-color) 0px;
    font-size: 2vh;
    opacity: 0.5;
}

button {
    background-color: var(--highlight-color);
    border: solid var(--font-color) 1vh;
    filter: drop-shadow(var(--dark-color) 0px 0px 10px);
    border-radius: 5px;
    margin: 1vh auto;
    padding: 1vh 1vw;
    color: var(--dark-color);
    font-size: 3vh;
    font-weight: bold;
    text-align: center;
}

button:hover {
    background-color: var(--font-color);
    border: solid var(--highlight-color) 1vh;
    color: var(--light-color);
    cursor: pointer;
}

#loginInfo {
    width: 60vw;
    height: 60vh;
    text-align: left;
}